<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fit.cvut.org.cz.tournamentmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity android:name=".presentation.activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".presentation.services.CompetitionService" />
        <service android:name=".presentation.services.PlayerService" />

        <provider
            android:name=".data.PlayerCP"
            android:authorities="fit.cvut.org.cz.tournamentmanager.data"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="true" />

        <meta-data
            android:name="player_cp_authority"
            android:value="@string/player_cp_authority" />

        <activity
            android:name=".presentation.activities.CreatePlayerActivity"
            android:label="@string/player_settings" >
        </activity>

        <activity
            android:name=".presentation.activities.PlayerDetailActivity"
            android:label="@string/player" >
        </activity>
    </application>

</manifest>
