<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fit.cvut.org.cz.squash">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Squash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="fit.cvut.org.cz.squash.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
        </activity>
        <activity android:name="fit.cvut.org.cz.squash.presentation.activities.CreateCompetitionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="New Competition"
            android:exported="true"/>
        <activity android:name=".presentation.activities.CreateTournamentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="New Tournament"/>
        <activity android:name=".presentation.activities.SelectPlayersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Select Players"/>
        <activity android:name=".presentation.activities.TournamentDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Tournament Detail"/>
        <activity android:name=".presentation.activities.AddPlayersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Add Players"/>
        <activity android:name="fit.cvut.org.cz.squash.presentation.activities.CompetitionDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Competition Detail"
            android:exported="true" />


        <service android:name=".presentation.services.CompetitionService"/>
        <service android:name=".presentation.services.PlayerService"/>
        <service android:name=".presentation.services.TournamentService"/>
        <service android:name=".presentation.services.StatsService"/>
        <service android:name=".presentation.services.MatchService"/>

        <provider
            android:name="fit.cvut.org.cz.squash.data.CompetitionCP"
            android:authorities="fit.cvut.org.cz.squash.data"
            android:exported="true"
            android:enabled="true"
            android:multiprocess="true"/>

        <meta-data android:name="application_type" android:value="@string/tournament_manager_package"/>
        <meta-data android:name="sport_name" android:value="@string/sport_name"/>
        <meta-data android:name="package_name" android:value="@string/package_name"/>
        <meta-data android:name="activity_create_competition" android:value="@string/activity_create_competition"/>
        <meta-data android:name="activity_detail_competition" android:value="@string/activity_detail_competition"/>
    </application>

</manifest>
