<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fit.cvut.org.cz.hockey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hockey"
        android:supportsRtl="true"
        android:name="fit.cvut.org.cz.hockey.presentation.HockeyPackage"
        android:theme="@style/AppTheme">

        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.CreateCompetitionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/competition_settings"
            android:exported="true"/>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.ShowCompetitionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/competition"
            android:exported="true"/>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.CreateTournamentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/tournament_settings"/>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.ShowTournamentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/tournament"/>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.TournamentConfigurationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/point_configuration"/>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.AddPlayersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/add_players"/>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.ShowTeamActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/team"/>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.CreateMatchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/match_settings"/>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.ShowMatchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/match"/>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.EditAtOnceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/edit_stats"/>

        <service android:name=".presentation.services.CompetitionService"/>
        <service android:name=".presentation.services.TournamentService"/>
        <service android:name=".presentation.services.StatsService"/>
        <service android:name=".presentation.services.MatchService"/>
        <service android:name=".presentation.services.PlayerService"/>
        <service android:name=".presentation.services.TeamService"/>
        <service android:name="fit.cvut.org.cz.hockey.presentation.services.HockeyService"
            android:exported="true"/>

        <meta-data android:name="application_type" android:value="@string/tournament_manager_package"/>
        <meta-data android:name="sport_name" android:value="@string/sport_name"/>
        <meta-data android:name="context_names" android:value="@string/context_names"/>
        <meta-data android:name="package_name" android:value="@string/package_name"/>
        <meta-data android:name="activity_create_competition" android:value="@string/activity_create_competition"/>
        <meta-data android:name="activity_detail_competition" android:value="@string/activity_detail_competition"/>
        <meta-data android:name="package_service" android:value="fit.cvut.org.cz.hockey.presentation.services.HockeyService"/>
    </application>

</manifest>
