<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fit.cvut.org.cz.hockey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="hockey"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.CreateCompetitionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="New Hockey Competition"
            android:exported="true">
        </activity>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.ShowCompetitionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Competition"
            android:exported="true">
        <intent-filter android:label="Hockey Show Activity">
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="fit.cvut.org.cz.hockey.presentation.activities.CreateTournamentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="New Hockey Tournament"
            android:exported="true">
        </activity>

        <provider
            android:name="fit.cvut.org.cz.hockey.data.CompetitionCP"
            android:authorities="fit.cvut.org.cz.hockey.data"
            android:exported="true"
            android:enabled="true"
            android:multiprocess="true"/>
        <service android:name=".presentation.services.CompetitionService"
            />
        <service android:name=".presentation.services.TournamentService"
            />
        <service android:name=".presentation.services.StatsService"
            />

        <meta-data android:name="application_type" android:value="@string/tournament_manager_package"/>
        <meta-data android:name="sport_name" android:value="@string/sport_name"/>
        <meta-data android:name="package_name" android:value="@string/package_name"/>
        <meta-data android:name="activity_create_competition" android:value="@string/activity_create_competition"/>

    </application>

</manifest>
